<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Autodesk Forge: Walkthrough Tutorial</title>

    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <link href="vue-qrcode-reader.css" rel="stylesheet">
    
    <style>
        /** Just simple CSS styling to make this page a little nicer **/
        main {
            padding: 2em;
        }
        main a {
            background-color: #3252aa;
            color: #fff;
            text-decoration: none;
            padding: 1em;
        }
    </style>
</head>

<body>
<<<<<<< HEAD
        <canvas id="qr"></canvas>

        <script src="/path/to/qrious.js"></script>

        <script>
            (function() {
                var qr = new QRious({
                    
                element: document.getElementById('qr'),
                value: 'https://github.com/neocotic/qrious'
                });
            })();
        </script>

<template>
    <div>
      <p class="error">{{ error }}</p>
  
      <p class="decode-result">Last result: <b>{{ result }}</b></p>
  
      <qrcode-stream @decode="onDecode" @init="onInit" />
    </div>
  </template>



<style scoped>
.error {
  font-weight: bold;
  color: red;
}
</style>
=======
>>>>>>> 373338899215a63979c394bd74b42fc53d40949d
    <main id="main">
        <a href="/api/forge/oauth">Authorize me!</a>
    </main>

</body>

<script src="vue-qrcode-reader.browser.js"></script>

<script>
    import Vue from "vue";
    import VueQrcodeReader from "vue-qrcode-reader";
    
    Vue.use(VueQrcodeReader);
    
    export default {
    
      components: { QrcodeStream },
    
      data () {
        return {
          result: '',
          error: ''
        }
      },
    
      methods: {
        onDecode (result) {
          this.result = result
        },
    
        async onInit (promise) {
          try {
            await promise
          } catch (error) {
            if (error.name === 'NotAllowedError') {
              this.error = "ERROR: you need to grant camera access permisson"
            } else if (error.name === 'NotFoundError') {
              this.error = "ERROR: no camera on this device"
            } else if (error.name === 'NotSupportedError') {
              this.error = "ERROR: secure context required (HTTPS, localhost)"
            } else if (error.name === 'NotReadableError') {
              this.error = "ERROR: is the camera already in use?"
            } else if (error.name === 'OverconstrainedError') {
              this.error = "ERROR: installed cameras are not suitable"
            } else if (error.name === 'StreamApiNotSupportedError') {
              this.error = "ERROR: Stream API is not supported in this browser"
            }
          }
        }
      }
    }
    </script>
</html>

