<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div>
    <router-view/>
    


<head>
    <meta charset="UTF-8">
    <title>Autodesk Forge: Walkthrough Tutorial</title>

    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    
    <style>
        /** Just simple CSS styling to make this page a little nicer **/
        main {
            padding: 2em;
        }
        main a {
            background-color: #3252aa;
            color: #fff;
            text-decoration: none;
            padding: 1em;
        }
    </style>
</head>
<body>
        <canvas id="qr"></canvas>

        <script src="/path/to/qrious.js"></script>

        <script>
            (function() {
                var qr = new QRious({
                    
                element: document.getElementById('qr'),
                value: 'https://github.com/neocotic/qrious'
                });
            })();
        </script>
    <main id="main">
        <a href="/api/forge/oauth">Authorize me!</a>
    </main>
</body>
</div>
</template>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
